[submodule "tree-sitter-gdscript"]
	path = tree-sitter-gdscript
	url = git@github.com:PrestonKnopp/tree-sitter-gdscript.git
[submodule "tree-sitter-godot-resource"]
	path = tree-sitter-godot-resource
	url = git@github.com:PrestonKnopp/tree-sitter-godot-resource.git
