<footer>
  <div class="grid">
    <% prev_item, next_item = neighbor_items_of(@item) %>
    <% if prev_item %>
      <%= link_to(
        "<small><< Previous</small><br>#{link_text_of(prev_item)}",
        prev_item,
        class: 'outline',
        role: 'button'
      ) %>
    <% else %>
      <div></div>
    <% end %>

    <% if next_item %>
      <%= link_to(
        "<small>Next >></small><br>#{link_text_of(next_item)}",
        next_item ,
        class: 'outline',
        role: 'button'
      ) %>
    <% else %>
      <div></div>
    <% end %>
  </div>
</footer>
