#!/usr/bin/env ruby
require 'asciidoctor-kroki'
require 'rouge'


compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end


compile '/**/*.adoc' do
  filter :asciidoctor, \
    attributes: {
      # 'kroki-server-url' => 'http://localhost:8123'
      'kroki-server-url' => 'https://kroki.io',
      'source-highlighter' => 'rouge',
      'rouge-css' => 'class',
    }

  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end


passthrough '/**/*'

layout '/**/*', :erb

